* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    padding: 20px;
    text-align: center;

}

.one {
    background-color: palevioletred;
    color: black;
    width: 70%;
    text-align: center;
    padding: 2px;
    margin: 0 auto ;
    font-size: small;


}


.two{
    padding-top: 30px;
    display: flex;
    gap: 50px;
    justify-content: center;

}


.two_1{
    background-color: black;
    color: white;
    width: 250px;
    height: 300px;
    padding-top: 10px;
    border-radius: 20px;
    
}

.two_1 ul{
    border: white 2px solid;
    width: 170px;
    text-align: left;  
    border-radius: 20px;
    margin: 10px auto; 
    padding: 10px;
    list-style: none;
    
}

